body {
  font-family: sans-serif;
  

}

#controlPanel {
 padding-top: 30px;
 margin-left:auto;
  padding: 20px;

}


.buttons {

margin-top:650px;
margin-left: 60px;

}

#goButton{
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 40px;
  margin-top: 250px;

}

#clearButton{

  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
   width: 80px;
  height: 40px;

}

#traffic-light {
  height: 550px;
  width: 200px;
  float: left;
  background-color: #333;
  border-radius: 40px;
  margin-top: 30px;
  padding: 20px;



}

.btn {
  height: 150px;
  width: 150px;
  background-color: #111;
  border-radius: 50%;
  margin: 25px auto;
  transition: background 500ms;
}